:root{
   --yellow: #ffc845;
   --void: #303030;
   --ice: #f3f4f7;
   --grey: #caccd1;
   --cyan: #3daeca;
   --blue: #102770;
}


/* FONT FAMILIES */
* {
  font-family: 'Merriweather Sans', sans-serif; 
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

a{
  text-decoration: none;
}

a:hover{
    color: var(--cyan)!important;
}

/* TEXT COLORS */
.text-yellow{
  color: var(--yellow);
}
.text-void{
  color: var(--void);
}
.text-ice{
  color: var(--ice);
}
.text-grey{
  color: var(--grey);
}
.text-cyan{
  color: var(--cyan);
}
.text-blue{
  color: var(--blue);
}


/* BACKGROUND COLORS */
.bg-yellow{
  background-color: var(--yellow);
}
.bg-void{
  background-color: var(--void);
}
.bg-ice{
  background-color: var(--ice);
}
.bg-grey{
  background-color: var(--grey);
}
.bg-cyan{
  background-color: var(--cyan);
}

.bg-blue{
  background-color: var(--blue);
}

/*BODY STYLE TOGGLE DARK*/
body{
  background-color: var(--void);
  overflow-x: hidden;
}
/* BODY STYLE*/
body{
  background-color: var(--ice);
  overflow-x: hidden;
}


a{
  text-decoration: none;
  color: var(--blue);
}


.logo-custom{
  height: 40px;
}

.circle-logo{
  background-color: var(--ice);
  border: 2px solid var(--void);
  border-radius: 30%;
  padding: 6px;
}

.dropdown-menu{
  background-color: rgba(243, 243, 243, 0.9);
}

/* NAVBAR */

.langmenu{
  background-color: transparent!important;
  border: 1px solid transparent!important;
}

.rgborder{
  border-right: 2px solid var(--grey);
}
.btn:hover {
  color: var(--yellow);
}
.me-5 {
  margin-right: 2rem !important;
}

.text-bluenav , .textblue-nav2{
  color: var(--blue)!important;
}
.text-bluenav:hover{
  color: var(--blue)!important;
  border-bottom: 2px solid var(--yellow);
}
.text-bluenav2:hover{
  color: var(--blue)!important;
}
.activehome{
  border-bottom: 2px solid var(--yellow);
}

.dropdown-item {
  padding: 0px!important;
  margin-left: 5px;
  color: var(--blue);
}

.dropdown-item:hover , .dropdown-item:focus{
  color: var(--cyan)!important;
  background-color: transparent!important;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0px!important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


/* HEADER */

.min-vh-80{
  min-height: 50vh;
}

.btn-custom{
  border: 2px solid var(--yellow);
  color: var(--ice);
  background-color: var(--yellow);
  width: 180px;
  padding: 15px;
  border-radius: 50px;
  transition: 1s;
}
.btn-custom2{
  border: 2px solid var(--yellow);
  color: var(--ice);
  background-color: var(--yellow);
  width: 200px;
  padding: 15px;
  border-radius: 50px;
  transition: 1s;
}

.btn-custom3{
  border-bottom: 2px solid var(--yellow);
  color: var(--blue);
  background-color: var(--ice);
  width: 150px;
  padding: 5px;
  transition: 1s;
}
.btn-custom3:hover{
  background-color: var(--ice);
  transform: scale(1.1);
  color: red;
}

.btn-custom2:hover{
  background-color: var(--yellow);
  transform: scale(1.1);
  color: var(--ice);
}

.btn-custom:hover{
  background-color: var(--yellow);
  transform: scale(1.1);
  color: var(--ice);
}

.loghover{
  transition: 1s;
}
.loghover:hover{
  color: var(--cyan);
}

/* ULTIMI ANNUNCI */

.margincustomhome{
  margin-top: 140px;
}


/* FOOTER */
.afoot{
   color: var(--ice)!important;
}
.afoot:hover{
  color: var(--cyan)!important;
}
.txtfoot{
  color: var(--yellow)!important;
}

.site-footer
{
background-color: var(--void);
padding:45px 0 20px;
font-size:15px;
line-height:24px;
color:var(--yellow);
}
.site-footer hr
{
border-top-color:#bbb;
opacity:0.5
}
.site-footer hr.small
{
margin:20px 0
}
.site-footer h6
{
color:#fff;
font-size:16px;
text-transform:uppercase;
margin-top:5px;
letter-spacing:2px
}
.site-footer a
{
color:var(--cyan);
}
.site-footer a:hover
{
color:var(--ice);
text-decoration:none;
}
.footer-links
{
padding-left:0;
list-style:none
}
.footer-links li
{
display:block
}
.footer-links a
{
color:var(--cyan)
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
color:var(--ice);
text-decoration:none;
}
.footer-links.inline li
{
display:inline-block
}
.site-footer .social-icons
{
text-align:right
}
.site-footer .social-icons a
{
width:40px;
height:40px;
line-height:40px;
margin-left:6px;
margin-right:0;
border-radius:100%;
background-color:#33353d
}
.copyright-text
{
margin:0
}
@media (max-width:991px)
{
.site-footer [class^=col-]
{
  margin-bottom:30px
}
}
@media (max-width:767px)
{
.site-footer
{
  padding-bottom:0
}
.site-footer .copyright-text,.site-footer .social-icons
{
  text-align:center
}
}
.social-icons
{
padding-left:0;
margin-bottom:0;
list-style:none
}
.social-icons li
{
display:inline-block;
margin-bottom:4px
}
.social-icons li.title
{
margin-right:15px;
text-transform:uppercase;
color:#96a2b2;
font-weight:700;
font-size:13px
}
.social-icons a{
background-color:#eceeef;
color:#818a91;
font-size:16px;
display:inline-block;
line-height:44px;
width:44px;
height:44px;
text-align:center;
margin-right:8px;
border-radius:100%;
-webkit-transition:all .2s linear;
-o-transition:all .2s linear;
transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
color:#fff;
background-color:#29aafe
}
.social-icons.size-sm a
{
line-height:34px;
height:34px;
width:34px;
font-size:14px
}
.social-icons a.facebook:hover
{
background-color:#3b5998
}
.social-icons a.twitter:hover
{
background-color:#00aced
}
.social-icons a.linkedin:hover
{
background-color:#007bb6
}
.social-icons a.whatsapp:hover
{
background-color:#54d643
}
.social-icons a.phone:hover
{
background-color:#aa0d22
}
@media (max-width:767px)
{
.social-icons li.title
{
  display:block;
  margin-right:0;
  font-weight:600
}
}

/* REGISTER FORM */

/* CARD ANNUNCI */

.cardmargin{
  margin-top: 100px;
}

.positioncustomcard{
  justify-self: start!important;
  align-items: center;
}

.imgswipe{
  position: relative!important;
  bottom: -150px!important;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/* .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: scale-down;
} */
.over-hide {
  overflow: hidden;
}
.size-22{
  font-size: 22px;
}
.section{
  position: relative;
  width: 100%;
  z-index: 1;
  display: block;
}
.full-height{
  min-height: 100vh;
}
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
}
.pricing:checked + label,
.pricing:not(:checked) + label{
  position: relative;
  display: block;
  text-align: center;
  width: 260px;
  height: 44px;
  border-radius: 4px;
  padding: 0;
  margin: 0 auto;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 44px;
  padding: 0 25px;
  padding-right: 27px;
  overflow: hidden;
  color: #fff;
  text-align: left;
}
.pricing:checked + label:before,
.pricing:not(:checked) + label:before{
  position: absolute;
  content: '';
  z-index: -2;
  background-color: #102770;
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
}
.pricing:checked + label:after,
.pricing:not(:checked) + label:after{
  position: absolute;
  content: '';
  z-index: -1;
  background-color: #ffeba7;
  width: 128px;
  height: 40px;
  display: block;
  top: 2px;
  left: 2px;
  border-radius: 2px;
  transition: left 300ms linear;
}
.pricing:checked + label:after {
  left: 130px;
}
.block-diff {
  display: block;
  mix-blend-mode: difference;
}

.card-3d-wrap {
  position: relative;
  width: 340px;
  max-width: calc(100% - 20px);
  height: 510px;
  margin-top: 90px;
}
.card-3d-wrapper {
  width: 100%;
  height: 100%;
  position:absolute;    
  top: 0;
  left: 0;  
  transition: transform 700ms 400ms ease-out; 
}
.card-front{
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
  position: absolute;
  border-radius: 6px;
  left: 0;
  top: 0;
  box-shadow: 0 12px 35px 0 rgba(16, 39, 112,.07);
}

.pricing-wrap{
  position: relative;
  padding-top: 160px;
  width: 100%;
  display: block;
  z-index: 1;
}

.img-wrap img{
  width: 100%;
  height: auto;
  display: block;
}
.img-1{
  position: absolute;
  display: block;
  left: 10%;
  border-radius: 20px;
  top: -550px;
  z-index: 5;
  transform: translate3d(0, 0, 45px) perspective(100px);
  opacity: 1;
  pointer-events: auto;
  transition: transform 400ms 1200ms ease, opacity 400ms 1200ms ease;
}

.img-2 {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  overflow: hidden;
  width: 100%;
  transform: translate3d(0, 0, 15px) perspective(100px);
}






/* LOGIN REGISTER FORM */

.bglogreg{
  width: 380px;
  height: 300px;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.customcontainerlog{
  border-radius: 10px;
  box-shadow: 0px 0px 20px var(--void);
}

.customcontainerimg{
  border-radius: 10px;
  box-shadow: 0px 0px 20px var(--void);
}

.margincustomlog{
  margin-top: 80px;
  margin-bottom: 170px;
}

.textmarginlog{
  margin-top: 100px;
}

.log-title{
  font-size: 30px;
}

.logincustomform {
  width: 100%;
	overflow: hidden;
	text-align: center;
	transition: .3s;

  position: relative;
    padding: 5px 0;
		color: var(--cyan);
		background-color: transparent;
		border-width: 0;
		border-bottom: 1px solid var(--blue);
    outline: none;
		font-size: 1.4rem;
}

.logincustomlabel{
  text-align: left;
  margin-left: 20px;
  color: var(--blue);
  font-weight: 700;
}



.btn-customlog{
  border: 2px solid var(--yellow);
  color: var(--ice);
  background-color: var(--yellow);
  width: 100%;
  padding: 8px; 
  border-radius: 50px;
}
.btn-customlog:hover{
  background-color: var(--yellow);
  color: var(--ice);
}

.logincustomform:focus {
  color: none!important;
  background-color: var(--ice)!important;
  border-color: var(--yellow)!important;
  outline: 0;
  box-shadow: none!important;
}


/* ARTICLE CREATE */

.articlecreatecustom{
  margin-top: 80px;
  margin-bottom: 170px;
  text-align: center!important;
  display: flex!important;
  justify-self: center!important;
}



.artcustomform {
  width: 100%;
	overflow: hidden;
	text-align: center;
	transition: .3s;


    padding: 5px 0;
		color: var(--cyan);
		background-color: transparent;
		border-width: 0;
    /* border: 1px solid var(--yellow); */
		border-bottom: 1px solid var(--blue);
    outline: none;
}

.artcustomlabel{
  text-align: left;
  margin-left: 20px;
  color: var(--blue);
  font-weight: 700;
}



.btn-customart{
  border: 2px solid var(--yellow);
  color: var(--ice);
  background-color: var(--yellow);
  width: 50%;
  padding: 15px; 
  border-radius: 50px;
}
.btn-customart:hover{
  background-color: var(--yellow);
  color: var(--ice);
}

.artcustomform:focus {
  color: none!important;
  background-color: white!important;
  border-color: var(--yellow)!important;
  outline: 0;
  box-shadow: none!important;
}

.articleshadow{
  border-top: 20px solid var(--yellow);
  /* border-bottom: 12px solid var(--blue); */
  box-shadow: 0 0 20px var(--grey);
  padding: 30px;
  border-radius: 10px;
}

.art-title{
  font-size: 40px;
}


.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: var(--yellow);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(250, 211, 39, 0.521);
}



/* ARTICLE SHOW */

.colshadow{
  box-shadow: 0 0 20px var(--grey);
  border-radius: 10px;
  border-top: 20px solid var(--yellow);
}

.cursorcategory{
  cursor:pointer;

}

.btnsearch{
  border: none!important;
}

.accordion-button:not(.collapsed) {
  color: none!important; 
  background-color: transparent!important; 
  box-shadow: none!important;
}

.accordion-button:focus {
  z-index: 3;
  border-color: transparent;
  outline: 0;
  box-shadow: none!important;
}

.artcustomlabelphone {
  text-align: left;
  /* margin-left: 20px; */
  color: var(--blue);
  font-weight: 700;
  padding: 0!important;
}

/* prova img custom section announcement */
.img-custom {
  width: 300px;
  height: 300px;
}

/* icon revisor animation */
.icon-wrapper{
  width: 30px;
  height: 30px;
  position: relative;
}

.icon-wrapper:hover::after{
  opacity: 1;
  transform: translateY(0);
  transition: opacity .25s,transform .25s;

}

.bell-icon{
  max-width: 100%;
  color: var(--blue);
}

.icon-wrapper:hover .bell-icon{
  animation: shake 1s forwards;
}





@keyframes shake{
  10%{
    transform: rotate(15deg);
  }
  20%{
    transform: rotate(-15deg);
  } 
  30%{
    transform: rotate(15deg);
  } 
  50%{
    transform: rotate(0deg);
  }
}


.borr{
  border-right: 5px solid (var--yellow);
}
.borl{
  border-left: 5px solid (var--yellow);
}

/* MEDIA QUERIES */

@media only screen and (max-width: 600px) {
  .phonetitle , .largequery , .phonehide{
    display: none !important;
  }

  .margincustomhome{
    margin-top: 50px;
  }

  .querydrop{
     display: flex!important;
     justify-content: start!important;
  }

}

@media only screen and (min-width: 992px) {

  .phonedropdown{
     display: none !important;
  }

  .phoneshow{
    display: none!important;
  }

}


/* prova darkMode */

.dark-mode {
  --primary-color: var(--yellow);
  --primary-bg-color: var(--void);
  color: var(--ice);
}

.dark-mode .switch-sun {
  display: block;
}

.dark-mode .switch-moon {
  display: none;
}

.wrapper {
   height: 100%;  
  color: var(--primary-color);
  background-color: var(--primary-bg-color);
}


.switch {
  position: absolute;
  top: 70px;
  right: 10px;
}

.switch-sun, .switch-moon {
  cursor: pointer;
}

.switch-sun {
  display: none;
}

.text-dark-mode{
  color: var(--cyan) !important;
}

/* end darkMode */
